/* pop-up that appears when searching for something */

.DraftEditor-root {
    margin-left: 8px;
}

#app-mount .container_eedf95 {
    background-color: var(--__header-bar-background);
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(var(--blur-ammount));
    transform: translateX(-2.5em);
}

.highlight {
    padding: 0 5px 2.5px 5px;
}

.channelNameContainer_a9e225 {
    justify-content: center;
    background-color: rgba(255, 255, 255, .1);
    width: fit-content;
    margin: auto;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.searchResultsWrap_c2b47d {
    max-height: 93%; 
}

.searchHeader_b7c924 {
    height: fit-content;
    margin-left: -6px;
    margin-right: -6px;
}

.searchHeaderTabList_b7c924 {
    background-color: rgba(255, 255, 255, .05);
    border-radius: 2em;
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
    gap: 8px;
}

.side_a0 .item_a0 {
    padding: 5px 13px;
}
