/* user panel button */

.userPanelOuter_c69a7b,
.searchResultsWrap_c2b47d {
    max-height: 92.5%;
    transform: translateY(3.2em);
    margin-left: .5em;
}

.banner_a823cd {
    border-radius: 1em 1em 0 0;
}
