/* may be useful later for making new variables, for now, it only serves
to change the blur ammount in sections like the top bar and typing thing */
/* ð“¯ð“»ð“®ð“ªð“´ð”‚ */

@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
    --blur-ammount: 50px;
    --font-primary: "SF Pro Display", Satoshi, "gg sans", sans-serif;
}

/* centralize everything that is repeated to one single thing */
.autocompleteAttached_bea0d0,
.buttons_d0696b,
.attachWrapper_f298d4,
.container_fc4f04,
.container_fc4f04[role="navigation"],
.container_b2ca13,
.panels_a4d4d9,
.container_a3d172,
.link_d8bfb3,
.itemCard_f02fcf,
.sidebar_a4d4d9,
.chat_a7d72e,
.section_cd82a7,
.peopleListItem_d51464,
.panels_a4d4d9 .container_adcaac,
.activityPanel_a4d4d9,
.avatarWrapper_b2ca13,
.button_be03aa,
.colorStreamerMode_be03aa,
.container_c2739c,
.typing_d7ebeb,
.chatContent_a7d72e,
.popover_e986d9,
.replyBar_b11c5e,
.lookFilled_dd4f85,
.lookOutlined_dd4f85,
.wrapper_f6639d .select_f6639d,
.lookFilled_f6639d,
.inputDefault_f8bc55,
.container_c18ec9,
.accountProfileCard_b69b77,
.background_b69b77,
.biteSizeInnerThemed_c69a7b,
.container_f4c122,
.tryItOutSection_eb2d2c,
.side_a0 .item_a0,
.row_e677b7,
.root_f9a4c9,
.vc-notification-root:not(.vc-notification-log-wrapper > .vc-notification-root),
.notice_be03aa,
.topPill_a0 .item_a0,
.container_f8a938,
.userPanelOuter_c69a7b,
.scroller_c2b47d,
.searchResultsWrap_c2b47d,
.searchBar_a46bef,
.flexible_d90b3d,
.vc-addon-card,
.vc-settings-card,
.vc-settings-quickActions-card,
.vc-plugins-info-card,
#app-mount .container_eedf95,
.container_ddc613,
.highlight,
.channelNameContainer_a9e225,
.searchBar_f0963d .searchBarComponent_f0963d,
.overlayBackground_c69a7b,
.listRow_d2d6cb,
.searchBar_e7c031,
.members_cbd271,
.card_a6d69a,
.theme-dark .message_d5deea.selected_d5deea,
.theme-dark.mouse-mode.full-motion .message_d5deea:hover,
.quickswitcher_f4e139,
.quickswitcher_f4e139,
.input_f4e139,
.result_e3c1c6[aria-selected=true],
.hoverButtonGroup_d0395d,
.popout_f6639d,
.container_cbd271,
.list_a6d69a, .grid_a6d69a,
.indentCharacterCount_d0696b,
.jumpToPresentBar_cf58b5m,
.newMessagesBar_cf58b5,
.tabBar_ecc04c,
.channelNameContainer_a9e225,
.full-motion .container_d331f1 {
    border-radius: 1rem !important;
    --custom-base-tile-border-radius: 1em;
}

.radioBar_eb92a8.radioPositionLeft_eb92a8,
.itemFilled_eb92a8 {
    border-radius: 4px 1em 1em 4px;
}

.themedBackground_d0696b,
.container_b6cd66,
.submenuPaddingContainer_d90b3d,
.memberInner_a31c43,
.channel_c91bad,
.header_bf550a,
.title_a1cafe,
.form_c1668f .submitButton_c1668f {
    border-radius: 2em;
}

.cozy_f9f2ca .messageContent_f9f2ca,
.container_b558d0,
.imageWrapper_d4597d,
.header_a6d69a {
    border-radius: 1.5em;
}

.wrapper_fb6520 .imageWrapper_d4597d {
    border-radius: 10px !important;
}

.menu_d90b3d,
.upload_df1eaf,
.searchBar_e0840f,
.lookFilled_dd4f85.colorPrimary_dd4f85,
.colorDefault_d90b3d {
    border-radius: .5em;
}

.filename_f847a3 {
    border-radius: .15rem;
}

.labelContainer_d90b3d {
    border-radius: .75em !important;
    transition: .1s;
    /* background-color: rgb(20, 20, 20); */
}

.button_dd4f85[aria-label="Send a gift"],
button[aria-label="Turn On Camera"],
.button_f7e168:first-child {
    border-radius: 1rem 0 0 1rem;
}

.buttonContainer_d0696b:last-child,
button[aria-label="Open Soundboard"],
.button_f7e168:last-child {
    border-radius: 0 1rem 1rem 0;
}

.section_cd82a7,
.themedBackground_d0696b,
.replyBar_b11c5e,
.autocompleteAttached_bea0d0,
.container_a3d172,
.upload_df1eaf,
.typing_d7ebeb {
    outline: rgba(255, 255, 255, .15) solid 2px;
}

/* disable new button, and the "nitro" & "shop" buttons */
.button_df39bd,
.channelAppLauncher_df39bd,
.channel_c91bad[aria-posinset="2"],
.channel_c91bad:nth-child(4),
.option_b0286e:after {
    display: none;
}

/* text message field */
.themedBackground_d0696b:not(.bioTextArea_ccf27d, .channelTextArea_d0696b) {
    position: absolute;
    width: 100%;
    transform: translateY(-90%);
    background: rgb(35, 36, 43, .5);
    backdrop-filter: blur(var(--blur-ammount-2));
}

.attachedBars_d0696b {
    height: 3rem;
    transform: translateY(-2rem);
    position: absolute;
    bottom: 0;
    width: calc(100% + 1px);
    background-color: transparent;
}

.filename_f847a3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1) !important;
    padding: 5px;
    font-size: .9rem;
}

.form_a7d72e:before {
    background: transparent !important;
    height: 1rem;
}

/* emoji floating thing */
.autocompleteAttached_bea0d0 {
    bottom: calc(100% + 48px);
    background: rgb(35, 36, 43, 80%);
    backdrop-filter: blur(var(--blur-ammount));
    animation: appear .5s;
}

/* main chat padding */
.messagesWrapper_e2e187 {
    margin-bottom: 40px;
}

.members_cbd271 {
    margin-left: .5em;
    margin-top: 35px;
}

/* text message field icons */
.attachButtonInner_f298d4 {
    padding-left: 10px;
    /* padding-bottom: 5px; */
    padding-bottom: 2px;
}

.button_dd4f85[aria-label="Send a gift"]:hover,
.buttonContainer_d0696b:hover {
    background-color: rgba(255, 255, 255, .06);
}

/* current user/server you're in */
.container_fc4f04 {
    position: absolute !important;
    --__header-bar-background: rgba(15, 15, 18, .5);
    backdrop-filter: blur(var(--blur-ammount));
    height: calc(100% + 1px);
}

/* friends, nitro & shop section fixes from code of above */
.headerBar_d175a8,
.upperContainer_fc4f04,
.container_fc4f04 {
    position: relative;
    height: auto;
    max-width: calc(100% + 1px);
    border-radius: 0 0 1rem 1rem;
}

.container_fc4f04[role="navigation"] {
    position: sticky;
    height: auto;
    width: 80.5%;
    left: 18vw !important;
}

@media (width < 1366px) {
    .container_fc4f04[role="navigation"] {
        width: 76.5vw;
        transform: translateX(0rem);
    }
}

.theme-dark .children_fc4f04:after {
    background: transparent;
}

.peopleListItem_d51464 {
    margin-top: 10px;
    transition-duration: .5s;
}

.peopleListItem_d51464:hover {
    margin-top: 10px;
}

.title_a1cafe {
    padding: 1em;
    margin-right: 40%;
    margin-left: 40%;
}

.peopleColumn_c2739c {
    margin-top: 3em;
}

.header_bf550a {
    margin-top: 2.7em;
    padding: .5em;
    margin-right: 20%;
    margin-left: 20%;
}

.header_bf550a,
.title_a1cafe {
    display: flex !important;
    justify-content: center;
    background-color: rgba(255, 255, 255, .1);
    color: white;
    font-family: var(--font-primary);
    align-items: center;
}

.content_a4d4d9 {
    background-color: var(--background-tertiary) !important;
}

/* search bar */
.searchBar_f0963d .searchBarComponent_f0963d {
    padding-left: .75rem;
    outline: rgba(255, 255, 255, .05) solid 2px;
}

/* mute, deaf and settings button */
.noWrap_ec1a20:not(.footerSeparator_f9a4c9, .justifyCenter_ec1a20, .marginBottom20_f7730b, .volume, .noWrap_ec1a20[style="flex: 1 1 auto;"], .noWrap_ec1a20[style="flex: 0 0 auto;"]) {
    background-color: rgba(255, 255, 255, .05) !important;
    transform: translateX(-5px) !important;
    border-radius: .75rem !important;
}

button.button_adca65[aria-label="Mute"] {
    border-radius: .75rem 0 0 .75rem !important;
}

button.button_adca65[aria-label="User Settings"] {
    border-radius: 0 .75rem .75rem 0 !important;
}

/* profile bar thing */
.panels_a4d4d9 {
    position: absolute;
    bottom: 8px;
    left: 5px;
    max-width: 14.5rem;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 50%);
    outline: rgba(255, 255, 255, .05) solid 2px;
    background-color: transparent;
}

.panels_a4d4d9 .container_adcaac,
.activityPanel_a4d4d9 {
    background: var(--background-secondary-alt) !important;
    padding: 10px;
}

.inner_adcaac {
    margin-top: 4px !important;
    padding-left: 10px;
}

.horizontal_dc333f>.flex_dc333f,
.horizontal_dc333f>.flexChild_dc333f {
    transform: translateY(2px) !important;
}

.actionButtons_adcaac {
    /* grid-gap: 0; */
    padding-top: 10px;
    /* margin-right: -5px; */
    /* margin-left: -2px; */
}

.connection_adcaac {
    margin-right: -10px;
    margin-left: 3px;
}

/* side bar and main chat configs */
.sidebar_a4d4d9,
.chat_a7d72e {
    margin-bottom: .5em;
    margin-top: .5em;
    background-color: var(--background-secondary) !important;
    margin-right: .5em;
}

.container_c2739c {
    margin-right: .5rem !important;
    margin-bottom: .5rem !important;
    margin-top: .5em;
}

/* changing the default discord font */
*,
.title_cd377c {
    font-family: var(--font-primary);
}

/* call stuff */
.controlButton_b6e2f9 {
    margin: 0 4px;
    transform: translateX(-12px) !important;
    background-color: transparent;
}

.justifyStart_ec1a20:not(.alignStretch_ec1a20)[style="flex: 0 1 auto;"] {
    padding: 5px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
}

/* typing pop-up */
.typing_d7ebeb {
    padding: 5px 10px 5px 5px;
    background: rgba(35, 36, 38, 0.3);
    right: 10px;
    width: fit-content;
    backdrop-filter: blur(var(--blur-ammount));
    animation: appear .5s;
    width: fit-content;
    bottom: 40px;
}

.lookFilled_dd4f85.colorPrimary_dd4f85 {
    outline: rgba(121, 101, 101, 0.3) solid 1px;
}

/* reply bar */
.replyBar_b11c5e {
    position: absolute;
    padding: 10px 15px 10px 10px;
    max-width: calc(100% - 5px);
    margin: 0 40% 0 40%;
    bottom: 1.5em;
    background-color: rgba(0, 0, 100, .2);
    backdrop-filter: blur(var(--blur-ammount));
    animation: appear .25s;
    left: 1.2px;
}

.replyBar_b11c5e:active {
    animation: disappear .5s;
}

.replyLabel_b11c5e {
    transform: translateX(-5px);
}

.closeButton_cb4d21 {
    /* background-color: red; */
    padding: 1em 4em .5em 5em;
    transform: translateX(-135px);
    position: absolute;
    width: max-content;
}

.closeButton_cb4d21>svg {
    opacity: 0;
}

/* reply bar & typing pop-up */
.replyBar_b11c5e,
.typing_d7ebeb {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

/* keyframes */
@keyframes appear {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes disappear {
    to {
        transform: translateY(50px);
        opacity: 0;
    }

    from {
        transform: translateY(0);
        opacity: 1;
    }
}

/* jump to present bar */
.jumpToPresentBar_cf58b5 {
    display: flex;
    max-width: 40%;
    bottom: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.barButtonBase_cf58b5 {
    /* top: 2px; */
}

/* new messages bar */
.newMessagesBar_cf58b5 {
    top: 3.2em;
    max-width: fit-content;
    margin: auto;
    display: flex;
}

.barButtonAlt_cf58b5 {
    margin-right: 2px;
    margin-left: 2px;
    transition-property: background-color;
    transition-duration: .25s;
    border-radius: 1em;

}

.barButtonAlt_cf58b5 > svg {
    display: none;
}

.barButtonAlt_cf58b5:hover {
    background-color: #727df8;
}

/* streamer mode warning */
.colorStreamerMode_be03aa,
.notice_be03aa {
    margin: .5em .59em 0 0;
}

/* clicked on profile pop-up */
.body_b07019 {
    margin-bottom: 2.5em;
}

.tabBar_ecc04c {
    border-bottom: none;
    margin: auto;
    background-color: var(--background-primary);
    height: 32px;
    transform: translate(0, 7px);
    display: flex;
    justify-content: center;
    width: fit-content;
    gap: 5px;
}

.tabBar_ecc04c .tabBarItem_ecc04c {
    border-bottom: none;
    padding: 4px;
    height: 32px;
    min-height: 32px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 3em;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    transition: .25s;
    margin-bottom: 10px;
}

.tabBar_ecc04c .tabBarItem_ecc04c:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.top_a0 .selected_a0.themed_a0.item_a0 {
    background-color: rgba(255, 255, 255, 0.15);
}

/* vencord notification */
.vc-notification-root:not(.vc-notification-log-wrapper > .vc-notification-root) {
    /* background-color: rgba(var(--background-secondary-alt), 100%); */
    background-color: rgba(35, 36, 40, 50%);
    backdrop-filter: blur(var(--blur-ammount));
    transform: translate(-.5em, -4.5em);
}

/* user panel */
.userPanelOuter_c69a7b,
.searchResultsWrap_c2b47d {
    max-height: 92.5%;
    transform: translateY(3.2em);
    margin-left: .5em;
}

.banner_a823cd {
    border-radius: 1em 1em 0 0;
}

/* background of e'erything */
.content_a7d72e {
    background-color: var(--background-tertiary);
}

/* search pop-up */
.DraftEditor-root {
    margin-left: 8px;
}

#app-mount .container_eedf95 {
    background-color: var(--__header-bar-background);
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(var(--blur-ammount));
    transform: translateX(-2.5em);
}

.highlight {
    padding-left: 5px;
    padding-right: 5px;
}

.channelNameContainer_a9e225 {
    justify-content: center;
    background-color: rgba(255, 255, 255, .1);
    margin-right: 2em;
    margin-left: 2em;
}

.searchResultsWrap_c2b47d {
    max-height: 93%;
}

/* questions that appear when you just joined a server */
.questionHeader_cd377c {
    justify-content: center;
}

.title_cd377c {
    display: flex;
    justify-content: center;
}

/* forums */
.container_a6d69a {
    margin-top: 40px;
}

.form_c1668f .submitButton_c1668f {
    transform: translateX(15px);
}

.container_d1c246 {
    border-radius: 1em 0 0 1em;
}

.headerWithMatchingPosts_a6d69a {
    border-radius: 1.5em 1.5em 0 0;
}

.matchingPostsRow_a6d69a {
    border-radius: 0 0 1.5em 1.5em;
    padding-right: 12px;
}

.scrollerInner_e2e187 {
    transform: translateY(20px);
}

.floating_d1c246 > .container_fc4f04 {
    border-radius: 1em 0 1em 1em !important;
}

/* bubbles outside messages (like instagram) */
/* my hamster that tests all the new features didn't approve it */

/*
.cozy_f9f2ca .messageContent_f9f2ca,
.container_b558d0 {
    background-color: var(--background-secondary-alt);
    padding: 10px;
    width: fit-content;
    margin-bottom: -2px;
}

.cozy_f9f2ca .messageContent_f9f2ca {
    transform: translateX(65px);
    margin-right: 15px;
}

.container_b558d0 {
    transform: translateX(-5px);
    margin-top: 4px;
}

.cozy_f9f2ca .timestamp_f9f2ca.alt_f9f2ca {
    transform: translateY(6px);
    transition: .15s;
}

.theme-dark .message_d5deea.selected_d5deea,
.theme-dark.mouse-mode.full-motion .message_d5deea:hover {
    transition: .25s;
}
*/

/* black backdrop */
.backdrop_e4f2ae.withLayer_e4f2ae {
    filter: blur(4px);
    transition-property: filter;
    transition-duration: .5s;
}

/* CTRL+K search */
.quickswitcher_f4e139,
.quickswitcher_f4e139,
.input_f4e139,
.result_e3c1c6[aria-selected=true] {
    /* maybe in the future i will add something cool to this */
}

/* fonts customization */
.h1_c46f6a, .title_c1668f, .postTitleText_d331f1, .membersGroup_cbd271, .header_e378b3 {
    font-family: var(--font-primary);
    font-weight: 800;
}

/* profile customization section in settings */
.indentCharacterCount_d0696b {
    margin: 0;
    background-color: rgba(255, 255, 255, .05);
    padding: 1px 5px;
    transform: translateX(5px);
}

/* scrollbar */
.auto_c49869 {
    transform: translateY(3em);
    height: 83vh;
}

/* hover image buttons */
.hoverButton_d0395d {
    border-left: 1px solid rgb(255, 255, 255, 0.2);
}