/* 𝓯𝓻𝓮𝓪𝓴𝔂 */

@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
    /* may be useful later for making new variables, for now, it only serves
    to change the blur ammount in sections like the top bar and typing thing */
    --blur-ammount: 50px;
    --font-primary: "SF Pro Display", Satoshi, "gg sans", sans-serif;
}

/* centralize everything that is repeated to one single thing */
.autocompleteAttached_bea0d0,
.attachWrapper_f298d4,
.container_fc4f04,
.container_fc4f04[role="navigation"],
.container_b2ca13,
.panels_a4d4d9,
.container_a3d172,
.link_d8bfb3,
.itemCard_f02fcf,
.sidebar_a4d4d9,
.chat_a7d72e,
.section_cd82a7,
.peopleListItem_d51464,
.panels_a4d4d9 .container_adcaac,
.activityPanel_a4d4d9,
.avatarWrapper_b2ca13,
.button_be03aa,
.colorStreamerMode_be03aa,
.container_c2739c,
.typing_d7ebeb,
.chatContent_a7d72e,
.popover_e986d9,
.replyBar_b11c5e,
.lookFilled_dd4f85,
.lookOutlined_dd4f85,
.wrapper_f6639d .select_f6639d,
.lookFilled_f6639d,
.inputDefault_f8bc55,
.container_c18ec9,
.accountProfileCard_b69b77,
.background_b69b77,
.biteSizeInnerThemed_c69a7b,
.container_f4c122,
.tryItOutSection_eb2d2c,
.side_a0 .item_a0,
.row_e677b7,
.root_f9a4c9,
.vc-notification-root:not(.vc-notification-log-wrapper > .vc-notification-root),
.notice_be03aa,
.topPill_a0 .item_a0,
.container_f8a938,
.userPanelOuter_c69a7b,
.scroller_c2b47d,
.searchResultsWrap_c2b47d,
.searchBar_a46bef,
.flexible_d90b3d,
.vc-addon-card,
.vc-settings-card,
.vc-settings-quickActions-card,
.vc-plugins-info-card,
#app-mount .container_eedf95,
.container_ddc613,
.highlight,
.channelNameContainer_a9e225,
.searchBar_f0963d .searchBarComponent_f0963d,
.overlayBackground_c69a7b,
.listRow_d2d6cb,
.searchBar_e7c031,
.members_cbd271,
.card_a6d69a,
.quickswitcher_f4e139,
.quickswitcher_f4e139,
.input_f4e139,
.result_e3c1c6[aria-selected=true],
.popout_f6639d,
.container_cbd271,
.list_a6d69a,
.grid_a6d69a,
.indentCharacterCount_d0696b,
.jumpToPresentBar_cf58b5,
.newMessagesBar_cf58b5,
.tabBar_ecc04c,
.channelNameContainer_a9e225,
.full-motion .container_d331f1,
.barButtonAlt_cf58b5,
.callContainer_d880dc,
.wrapper_d880dc,
.callContainer_d880dc,
.notice_c02a8d,
.optionBox_f2f431,
.contentWrapper_af5dbb,
.navButtonActive_af5dbb,
.navButton_af5dbb:hover,
.container_c15230,
.uploadDropModal_f82cc7,
.uploadDropModal_f82cc7 .inner_f82cc7,
.uploadDropModal_f82cc7.error_f82cc7 .icon_f82cc7.two_f82cc7,
.connectedAccountContainer_ab12c6,
.menuItemColor_ad5fac,
.authBox_b83a05,
.input_f8bc55.focused_f8bc55,
.input_f8bc55:focus,
.mediaBarProgress_d12f5a,
.container_d746e5,
.inset_ac5d22,
.controls_f0cd33 div,
.popoutContainer_cf58b5,
.credentialList_eaef52,
.swatch_c66781,
.colorDefault_d90b3d,
.menu_d90b3d,
.lookFilled_dd4f85.colorPrimary_dd4f85 {
    border-radius: 1rem !important;
    --custom-base-tile-border-radius: 1em;
}

.radioBar_eb92a8.radioPositionLeft_eb92a8,
.itemFilled_eb92a8 {
    border-radius: 4px 1em 1em 4px;
}

.themedBackground_bdf0de,
.container_b6cd66,
.submenuPaddingContainer_d90b3d,
.memberInner_a31c43,
.channel_c91bad,
.header_bf550a,
.title_a1cafe,
.form_c1668f .submitButton_c1668f,
.selectedBackground_ae3c77,
.horizontal_dc333f>.flex_dc333f:last-child,
.horizontal_dc333f>.flexChild_dc333f:last-child,
.hoverButtonGroup_d0395d,
.expression-picker-chat-input-button,
.wrapper_faf5ab,
.container_b64375,
.addFriendInputWrapper_de812f,
.container_aef5fd,
.icon_aef5fd {
    border-radius: 2em;
}

.cozy_f9f2ca .messageContent_f9f2ca,
.container_b558d0,
.header_a6d69a {
    border-radius: 1.5em;
}

.imageWrapper_d4597d {
    border-radius: 12px;
}

.wrapper_fb6520 .imageWrapper_d4597d {
    border-radius: 10px !important;
}

.upload_df1eaf,
.searchBar_e0840f,
.imageContainer_fa854f {
    border-radius: .5em;
}

.filename_f847a3 {
    border-radius: .15rem;
}

.labelContainer_d90b3d {
    border-radius: .75em !important;
    transition: .1s;
    /* background-color: rgb(20, 20, 20); */
}

button[aria-label="Turn On Camera"],
.button_f7e168:first-child {
    border-radius: 1rem 0 0 1rem;
}

button[aria-label="Open Soundboard"],
.button_f7e168:last-child,
.message_d5deea.selected_d5deea,
.mouse-mode.full-motion .message_d5deea:hover {
    border-radius: 0 1rem 1rem 0;
}

.section_cd82a7,
.themedBackground_bdf0de,
.replyBar_b11c5e,
.autocompleteAttached_bea0d0,
.container_a3d172,
.upload_df1eaf,
.typing_d7ebeb,
.container_c15230 {
    outline: rgba(255, 255, 255, .15) solid 2px;
}

/* disable ads or useless buttons */
.button_df39bd,
.channelAppLauncher_df39bd,
.channel_c91bad[aria-posinset="2"],
.channel_c91bad:nth-child(4),
.option_b0286e:after,
.button_dd4f85[aria-label="Send a gift"],
.button_dd4f85[aria-label="Enviar um presente"],
.item_a0[aria-label="Merch"],
.giftIconButton_efde15,
.barButtonAlt_cf58b5>svg,
.floatingNitroUpsell_bc425c {
    display: none;
}

.interactive_f5eb4b,
.link_d8bfb3,
.headerText_c47fa9,
.tabBar_c2739c .item_c2739c,
.tabBar_ecc04c .tabBarItem_ecc04c,
.barButtonAlt_cf58b5 {
    transition-duration: .25s;
}

/* text message field */
.themedBackground_bdf0de:not(.bioTextArea_ccf27d, .channelTextArea_d0696b, .contents_f9f2ca .themedBackground_bdf0de) {
    position: absolute;
    width: 100%;
    transform: translateY(-90%);
    background: rgb(35, 36, 43, .5);
    backdrop-filter: blur(var(--blur-ammount));
    transform: translateY(-100%);
}

.contents_f9f2ca .themedBackground_bdf0de {
    background-color: #1E1F22;
    outline: none;
}

.innerDisabled_d0696b,
.channelTextAreaDisabled_d0696b .scrollableContainer_d0696b {
    opacity: 0;
}

.attachedBars_d0696b {
    height: 3rem;
    transform: translateY(-2rem);
    position: absolute;
    bottom: 0;
    width: calc(100% + 1px);
    background-color: transparent;
}

.filename_f847a3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1) !important;
    padding: 5px;
    font-size: .9rem;
}

.form_a7d72e:before {
    background: transparent !important;
    height: 1rem;
}

.expression-picker-chat-input-button:last-child {
    margin-right: 7px;
}

/* emoji floating thing */
.autocompleteAttached_bea0d0 {
    bottom: calc(100% + 48px);
    background: rgb(35, 36, 43, 80%);
    backdrop-filter: blur(var(--blur-ammount));
    animation: appear .5s;
}

/* main chat padding */
.messagesWrapper_e2e187 {
    bottom: 40px;
}

/* text message field icons */
.attachButtonInner_f298d4 {
    padding-left: 10px;
    /* padding-bottom: 5px; */
    padding-bottom: 2px;
}

.button_dd4f85[aria-label="Send a gift"]:hover,
.buttonContainer_d0696b:hover {
    background-color: rgba(255, 255, 255, .06);
}

/* current user/server you're in */
.container_fc4f04 {
    position: absolute !important;
    --__header-bar-background: rgba(15, 15, 18, .5);
    backdrop-filter: blur(var(--blur-ammount));
    height: calc(100% + 1px);
}

/* friends, nitro & shop section fixes from code of above */
.headerBar_d175a8,
.upperContainer_fc4f04,
.container_fc4f04 {
    position: relative;
    height: auto;
    max-width: calc(100% + 1px);
    border-radius: 0 0 1rem 1rem;
}

.container_fc4f04[role="navigation"] {
    position: relative !important;
    --__header-bar-background: rgba(15, 15, 18, .5);
    backdrop-filter: blur(var(--blur-ammount));
    height: auto;
    border-radius: 0 !important;
}

.theme-dark .children_fc4f04:after {
    background: transparent;
}

.peopleListItem_d51464 {
    margin-top: 10px;
    transition-duration: .5s;
}

.peopleListItem_d51464:hover {
    margin-top: 10px;
}

.title_a1cafe {
    padding: 1em;
    margin-right: 40%;
    margin-left: 40%;
}

.peopleColumn_c2739c {
    /* margin-top: 3em; */
}

.header_bf550a {
    padding: .5em;
    margin-right: 20%;
    margin-left: 20%;
}

.header_bf550a,
.title_a1cafe {
    display: flex !important;
    justify-content: center;
    background-color: rgba(255, 255, 255, .1);
    color: white;
    align-items: center;
}

.content_a4d4d9 {
    background-color: var(--background-tertiary) !important;
}

.medium_c18ec9.iconLayout_c18ec9 {
    margin-right: 5px;
}

.input_c18ec9 {
    margin-left: 5px;
}

/* search bar */
.searchBar_f0963d .searchBarComponent_f0963d {
    padding-left: .75rem;
    outline: rgba(255, 255, 255, .05) solid 2px;
}

/* mute, deaf and settings button */
.noWrap_ec1a20:not(.footerSeparator_f9a4c9,
    .justifyCenter_ec1a20,
    .marginBottom20_f7730b,
    .volume,
    .noWrap_ec1a20[style="flex: 1 1 auto;"],
    .noWrap_ec1a20[style="flex: 0 0 auto;"],
    .justifyEnd_ec1a20) {
    background-color: rgba(255, 255, 255, .05) !important;
    transform: translateX(-5px) !important;
    border-radius: .75rem !important;
}

button.button_adca65:first-child {
    border-radius: .75rem 0 0 .75rem !important;
}

button.button_dd4f85:nth-child(2):not(.lookFilled_dd4f85, .lookOutlined_dd4f85) {
    border-radius: 0 !important;
}

button.button_adca65:last-child {
    border-radius: 0 .75rem .75rem 0 !important;
}

/* profile bar thing */
.panels_a4d4d9 {
    position: absolute;
    bottom: 8px;
    left: 5px;
    max-width: 14.5rem;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 50%);
    outline: rgba(255, 255, 255, .05) solid 2px;
    background-color: transparent;
}

.panels_a4d4d9 .container_adcaac,
.activityPanel_a4d4d9 {
    background: var(--background-secondary-alt) !important;
    padding: 10px;
}

.inner_adcaac {
    margin-top: 4px !important;
    padding-left: 2px;
}

.horizontal_dc333f>.flex_dc333f,
.horizontal_dc333f>.flexChild_dc333f {
    transform: translateY(2px) !important;
}

.actionButtons_adcaac {
    padding-top: 10px;
}

.connection_adcaac {
    margin-right: -10px;
    margin-left: 3px;
}

/* side bar and main chat configs */
.sidebar_a4d4d9,
.chat_a7d72e {
    margin-bottom: .5em;
    margin-top: .5em;
    background-color: var(--background-secondary) !important;
    margin-right: .5em;
}

.wrapper_d880dc~.membersWrap_cbd271 {
    margin-top: 5.5em;
    height: 90%;
    z-index: 2000;
}

.container_c2739c {
    margin-right: .5rem !important;
    margin-bottom: .5rem !important;
    margin-top: .5em;
}

.scroller_c43953 {
    transform: translateY(-60px);
}

.hasBanner_fd6364 .header_fd6364,
.hasBanner_fd6364 .header_fd6364:hover,
.communityInfoVisible_fd6364 .header_fd6364,
.communityInfoVisible_fd6364 .header_fd6364:hover {
    background-color: transparent;
    backdrop-filter: blur(0);
    transition-duration: .1s linear;
}

.header_fd6364 {
    background-color: var(--__header-bar-background);
    backdrop-filter: blur(var(--blur-ammount));
}

.notice_c02a8d {
    transform: translateY(49px);
    z-index: 1000;
    margin-right: 10px;
    margin-left: 10px;
}

.container_b558d0>* {
    border-radius: 4px 1em 1em 4px;
}

/* call stuff */
.controlButton_b6e2f9 {
    margin: 0 4px;
    transform: translateX(-12px) !important;
    background-color: transparent;
}

.justifyStart_ec1a20:not(.alignStretch_ec1a20)[style="flex: 0 1 auto;"] {
    padding: 5px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
}

/* typing pop-up */
.typing_d7ebeb {
    padding: 5px 10px 5px 5px;
    background: rgba(35, 36, 38, 0.3);
    margin-right: 5px;
    margin-left: auto;
    width: fit-content;
    backdrop-filter: blur(var(--blur-ammount));
    animation: appear .5s;
    width: fit-content;
    bottom: 80px;
}

.lookFilled_dd4f85.colorPrimary_dd4f85 {
    outline: rgba(121, 101, 101, 0.3) solid 1px;
}

/* reply bar */
.replyBar_b11c5e {
    position: absolute;
    padding: 10px 15px 10px 10px;
    max-width: calc(100% - 5px);
    margin: 0 40% 0 40%;
    bottom: 3.5em;
    background-color: rgba(0, 0, 100, .2);
    backdrop-filter: blur(var(--blur-ammount));
    animation: appear .25s;
    left: 1.2px;
}

.replyBar_b11c5e:active {
    animation: disappear .5s;
}

.replyLabel_b11c5e {
    transform: translateX(-5px);
}

.closeButton_cb4d21 {
    /* background-color: red; */
    padding: 1em 4em .5em 5em;
    transform: translateX(-135px);
    position: absolute;
    width: max-content;
}

.closeButton_cb4d21>svg {
    opacity: 0;
}

/* reply bar & typing pop-up */
.replyBar_b11c5e,
.typing_d7ebeb {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

/* keyframes */
@keyframes appear {

    0%,
    10% {
        transform: translateY(50px);
        opacity: 0;
    }

    90%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes disappear {
    to {
        transform: translateY(50px);
        opacity: 0;
    }

    from {
        transform: translateY(0);
        opacity: 1;
    }
}

/* jump to present bar */
.jumpToPresentBar_cf58b5 {
    display: flex;
    max-width: 40%;
    bottom: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.jumpToPresentBar_cf58b5>button {
    height: 25px;
    transform: translateY(2px);
}

.jumpToPresentBar_cf58b5>button:nth-child(2):hover {
    background-color: var(--background-primary) !important;
}

/* new messages bar */
.newMessagesBar_cf58b5 {
    top: 3.2em;
    max-width: fit-content;
    margin: auto;
    display: flex;
}

.barButtonAlt_cf58b5 {
    margin-right: 2px;
    margin-left: 2px;
    transition-property: background-color;
}

.barButtonAlt_cf58b5:hover {
    background-color: #727df8;
}

/* streamer mode warning */
.colorStreamerMode_be03aa,
.notice_be03aa {
    margin: .5em .59em 0 0;
}

/* clicked on profile pop-up */
.body_b07019 {
    margin-bottom: 2.5em;
}

.tabBar_ecc04c {
    border-bottom: none;
    margin: auto;
    background-color: var(--background-primary);
    height: 32px;
    transform: translate(0, 7px);
    display: flex;
    justify-content: center;
    width: fit-content;
    gap: 5px;
}

.tabBar_ecc04c>div {
    padding: 0 10px;
}

.tabBar_ecc04c .tabBarItem_ecc04c {
    border-bottom: none;
    padding: 4px;
    height: 32px;
    min-height: 32px;
    padding-right: 10px !important;
    padding-left: 10px !important;
    font-size: 14px;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabBar_ecc04c .tabBarItem_ecc04c:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.top_a0 .selected_a0.themed_a0.item_a0 {
    background-color: rgba(255, 255, 255, 0.15);
}

.connectedAccountContainer_ab12c6 {
    background-color: var(--profile-body-divider-color, var(--background-modifier-accent));
}

/* vencord notification */
.vc-notification-root:not(.vc-notification-log-wrapper > .vc-notification-root) {
    /* background-color: rgba(var(--background-secondary-alt), 100%); */
    background-color: rgba(35, 36, 40, 50%);
    backdrop-filter: blur(var(--blur-ammount));
    transform: translate(-.5em, -4.5em);
}

/* user panel */
.userPanelOuter_c69a7b,
.searchResultsWrap_c2b47d {
    max-height: 92.5%;
    transform: translateY(3.2em);
    margin-left: .5em;
}

.banner_a823cd {
    border-radius: 1em 1em 0 0;
}

/* background of e'erything */
.content_a7d72e {
    background-color: var(--background-tertiary);
}

/* search pop-up */
.DraftEditor-root {
    margin-left: 8px;
}

#app-mount .container_eedf95 {
    background-color: var(--__header-bar-background);
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(var(--blur-ammount));
    transform: translateX(-2.5em);
}

.highlight {
    padding: 0 5px 2.5px 5px;
}

.channelNameContainer_a9e225 {
    justify-content: center;
    background-color: rgba(255, 255, 255, .1);
    width: fit-content;
    margin: auto;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.searchResultsWrap_c2b47d {
    max-height: 93%; 
}

.searchHeader_b7c924 {
    height: fit-content;
    margin-left: -6px;
    margin-right: -6px;
}

.searchHeaderTabList_b7c924 {
    background-color: rgba(255, 255, 255, .05);
    border-radius: 2em;
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
    gap: 8px;
}

.side_a0 .item_a0 {
    padding: 5px 13px;
}

/* questions that appear when you just joined a server */
.questionHeader_cd377c {
    justify-content: center;
}

.title_cd377c {
    display: flex;
    justify-content: center;
}

/* forums */
.container_a6d69a {
    margin-top: 40px;
}

.form_c1668f .submitButton_c1668f {
    transform: translateX(15px);
}

.container_d1c246 {
    border-radius: 1em 0 0 1em;
    margin-right: .5em;
}

.headerWithMatchingPosts_a6d69a {
    border-radius: 1.5em 1.5em 0 0;
}

.matchingPostsRow_a6d69a {
    border-radius: 0 0 1.5em 1.5em;
    padding-right: 12px;
}

.scrollerInner_e2e187 {
    transform: translateY(20px);
}

.floating_d1c246>.container_fc4f04 {
    border-radius: 1em 0 1em 1em !important;
}

/* black backdrop blur */
.backdrop_e4f2ae {
    filter: blur(4px);
    transition: backdrop-filter .25s;
}

/* CTRL+K search */
.quickswitcher_f4e139,
.input_f4e139,
.result_e3c1c6[aria-selected=true] {
    /* maybe in the future i will add something cool to this */
}

/* fonts customization */
*,
.title_cd377c,
.markup_f8f345 h1,
.markup_f8f345 h2,
.markup_f8f345 h3,
.heading-sm\/semibold_dc00ef,
.text_b5cd55,
.nickname_c32acf,
.badgeContainer_d60c6d div,
.title_aef5fd,
.h1_c46f6a,
.title_c1668f,
.postTitleText_d331f1,
.membersGroup_cbd271,
.header_e378b3,
.headerText_c47fa9,
.overflow_a82120,
.header_bf550a,
.title_a1cafe,
.headerText_ae1fa2,
.eyebrow_c46f6a {
    font-family: var(--font-primary);
}

.h1_c46f6a,
.title_c1668f,
.postTitleText_d331f1,
.membersGroup_cbd271,
.header_e378b3,
.headerText_c47fa9,
.overflow_a82120,
.header_bf550a,
.title_a1cafe,
.headerText_ae1fa2,
.top_a0 .selected_a0.themed_a0.item_a0>.text-sm\/normal_dc00ef {
    font-weight: 800;
}

/* profile customization section in settings */
.indentCharacterCount_d0696b {
    margin: 0;
    background-color: rgba(255, 255, 255, .05);
    padding: 1px 5px;
    transform: translateX(5px);
}

/* hover image buttons */
.hoverButtonGroup_d0395d {
    padding: 1px;
    display: flex;
    align-items: center;
}

.hoverButtonGroup_d0395d div {
    height: 20px;
    width: 20px;
}

.hoverButtonGroup_d0395d div {
    transition-timing-function: cubic-bezier(.16,1,.3,1);
    transition: transform .4s !important;
    display: block;
    object-fit: contain;
}

.hoverButton_d0395d {
    border-radius: 2em 0 0 2em;
}

.hoverButton_d0395d:last-child {
    border-radius: 0 2em 2em 0;
}

/* leave call and krisp audio buttons */
.horizontal_dc333f>.flex_dc333f:last-child:not(.truncatingText_e58351),
.horizontal_dc333f>.flexChild_dc333f:last-child:not(.truncatingText_e58351) {
    margin-right: 5px;
    background-color: var(--background-primary);
    padding: 2.5px;
}

/* custom call container styling */
button.button_adca65,
span.button_adca65[aria-label="Disconnect"] {
    border-radius: 0 2em 2em 0;
}

button[aria-label="Noise Suppression powered by Krisp"] {
    border-radius: 2em 0 0 2em;
}

.wrapper_d880dc {
    position: absolute;
    width: 100%;
    box-shadow: 0 0px 20px 5px var(--elevation-low);
}

.wrapper_d880dc .container_fc4f04 {
    background-color: transparent !important;
    backdrop-filter: blur(0);
}

.videoGridWrapper_bae578 {
    background: linear-gradient(90deg, var(--background-floating), 60%, var(--background-tertiary));
}

.quickSelect_abbf45 {
    margin-top: 50px;
    margin-right: -6px;
}

.quickSelectValue_abbf45,
.quickSelectArrow_abbf45 {
    padding: 2px 4px;
}

/* new message animation */
/* .cozyMessage_d5deea.groupStart_d5deea:last-child,
.messageContent_f9f2ca:not(.isSending_f9f2ca, .alt_f9f2ca, .messageContent_d331f1),
.markup_f8f345:not(.isSending_f9f2ca, .alt_f9f2ca, .fontSize16Padding_d0696b, .messageContent_d331f1, .defaultColor_a595eb .text-sm\/normal_dc00ef) {
    animation: appear .5s;
} giving me too much headache at the moment will work on it later */

/* discover servers */
.container_d746e5 {
    margin: .5em .5em .5em 0;
}

/* inbox menu */
.tabBar_f0cd33 {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 10px;
    background-color: var(--background-primary);
    width: max-content;
    border-radius: 3em;
    height: 36px;
}

.top_a0 .item_a0 {
    border: transparent !important;
    margin: 0;
    padding: 0 16px;
    border-radius: 3em;
}

.top_a0 .item_a0:hover,
.top_a0 .brand_a0.selected_a0.item_a0 {
    background-color: rgba(255, 255, 255, 0.05);
}

.top_a0 .brand_a0.selected_a0.item_a0 {
    padding: 16px 16px;
}