/* hover image buttons css */

.hoverButtonGroup_d0395d {
    padding: 2px;
    display: flex;
    align-items: center;
    margin: 3px;
}

.hoverButtonGroup_d0395d>div {
    transition: .1s ease-out !important;
    border-radius: 100%;
}

.hoverButtonGroup_d0395d>div:hover:first-child {
    scale: 120% !important;
    border-radius: 2em 0 0 2em;
}

.hoverButtonGroup_d0395d>div:hover:last-child {
    scale: 115% !important;
    border-radius: 0 2em 2em 0;
}
